:root {
    --primary: #330072;
    --secondary: #924da7; 
    --accent: #f2a900;
    --lightgrey: #f8f8f8;
    --darkgrey: #e5e5e5;
    --text-light: #555555;
    --text-primary: #000000;
    --background: #ffffff;
}