:root {
    --primary: #1E1A34;
    --primary-medium: #575365;
    --primary-light: #E0E0F0;

    --tangerine: #F1B434;
    --tangerine-light: #F7D99C;

    --secondary: #6BA4B8;
    --secondary-light: #B5D1DB;

    --grass: #76881D;
    --grass-light: #BAC38E;

    --black: #000000;
    --dark-grey: #4E4E4E;
    --medium-grey: #CBCBCB;
    --light-grey: #F2F2F2;
    --white: #ffffff;
/* 
    --bg-focus-grey: rgba(229,229,229,0.25);
    --bg-light-grey: #e5e5e5;
    --text-light: #777777;
    --text-dark: #000000; */
}

body {
    color: var(--dark-grey);
    font-size: 13px;
    line-height: 1.6em;
    background-color: var(--light-grey);
}
body.navbar-is-fixed-top {
    margin-top: 60px;
}

a {
    color: var(--dark-grey);
    font-weight: bold;
}

a:hover,
a:focus {
    color: var(--primary);
    text-decoration: underline;
}

.btn-primary,
.btn-success {
    background-color: var(--primary-medium);
    border-color: var(--primary-medium);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-success:hover,
.btn-success:focus {
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:active,
.btn-success:active {
    background-color: var(--primary-medium);
    border-color: var(--primary-medium);
}



.font-small {
    font-size: 0.85em;
}

h1.page-header {
    background: var(--white);
    margin: 0 -15px 1em;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    color: var(--dark-grey);
}

h1.node-header {
    margin: 0 0 1em;
    font-size: 1.8em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--medium-grey);
}

h1.term-page-header {
    margin: 0 0;
    font-size: 1.5em;
}

h1.view-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    margin: 1.2em 0;
    font-size: 1.2em;
}

h3.small-header {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 0;
}

p {
    margin:  0 0 1.2em;
}

.separator-above {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--medium-grey);
}
.separator-below {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--medium-grey);
}

.sticky-top {
    position: sticky;
    top: 0px;
}

.alert {
    margin: 0 -15px 1em;
    border-radius: 0;
}

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}
@media (min-width: 1600px) {
    body {
        font-size: 16px;
    }
}

/**
 * Header and Main Navbar 
 */
.navbar-default {
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    margin-bottom: 0px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}
.container-fluid .navbar-header {
    margin: 0;
}
header.navbar .logo {
    margin: 0 15px 0 0;
    padding: 0;
    line-height: 60px;
}
header.navbar > .container-fluid a.navbar-brand {
    color: var(--white);
    font-size: 1.3em;
    padding: 0 15px;
    line-height: 60px;
    margin-left: 0px;
    height: unset;
    font-weight: bold;
}
header.navbar .navbar-text {
    color: var(--white);
    line-height: 60px;
    margin-top: 0;
    display: none;
}
header.navbar > .container-fluid a.navbar-brand:hover,
header.navbar > .container-fluid a.navbar-brand:focus {
    background-color: rgba(0,0,0,0.2);
    color: var(--white);
}
.navbar-default .navbar-nav {
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: var(--white);
    padding: 1em;
    font-weight: bold;
    border-radius: 20px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0,0,0,0.2);
    color: inherit;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a.is-active,
.navbar-default .navbar-nav > li > a.is-active:hover,
.navbar-default .navbar-nav > li > a.is-active:focus {
    color: var(--tangerine);
    border: none;
    background-color: rgba(0,0,0,0.2);
}
.navbar-toggle {
    border: 0;
    background-color: unset;
    margin-top: 11px;
    margin-right: 0;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 20px;
}
.navbar-toggle > .glyphicon {
    vertical-align: text-top;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: var(--primary-medium);
    color: var(--primary);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--white);
}
#navbar-collapse {
    background-color: var(--primary);
    width: 100%;
    max-height: unset;
    border: 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    margin: 0;
    border: 0;
    box-shadow: unset;
    padding: 1em 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: var(--primary-medium);
    color: var(--white);
}

@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: var(--white);
        line-height: 2em;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .container-fluid .navbar-header {
        padding-right: 2em;
    }
    #navbar-collapse {
        background-color: unset;
        width: unset;
        box-shadow: unset;
        margin: 0;
        border: 0;
        box-shadow: unset;
        padding: 0;
    }
    .navbar-default .navbar-nav > li > a {
        font-weight: normal;
        padding: 0 15px;
        line-height: 60px;
        border-radius: unset;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > li > a.is-active,
    .navbar-default .navbar-nav > li > a.is-active:hover,
    .navbar-default .navbar-nav > li > a.is-active:focus {
        color: var(--white);
        box-shadow: inset 0px -5px 0 0px var(--tangerine);
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        box-shadow: inset 0px -5px 0 0px var(--tangerine);
    }
}
@media (min-width: 1024px) {
    header.navbar .navbar-text {
        display: block;
    }
}


/** 
 * Inner Navigation
 */
#inner-navbar-collapse {
    background: var(--white);
    border-radius: 0;
    border: 0;
    min-height: unset;
    margin: 0;
}
#inner-navbar-collapse .navbar-nav {
    margin: 0;
}
.region-inner-nav > nav {
    max-width: 1366px;
    margin: auto;
}
.region-inner-nav > nav  > ul.menu > li {
    float: left;
}
.region-inner-nav > nav  > ul.menu > li > a {
    padding: 1em;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--primary);
}
.region-inner-nav > nav  > ul.menu > li > a.active,
.region-inner-nav > nav  > ul.menu > li > a.is-active,
.region-inner-nav > nav  > ul.menu > li.active > a,
.region-inner-nav > nav  > ul.menu > li > a.is-active:hover,
.region-inner-nav > nav  > ul.menu > li > a.is-active:focus { 
    box-shadow: inset 0 -3px 0 0 var(--primary);
    color: var(--primary);
}
.region-inner-nav > nav  > ul.menu > li > a:hover,
.region-inner-nav > nav  > ul.menu > li > a.focus {
    background-color: rgba(0,0,0,0.05);
}


/**
 * Main container region 
 */
div.main-container.container-fluid {
    max-width: 1366px;
    padding-top: 2em;
    min-height: calc(100vh - 225px);
}
div.main-container.container-fluid.full-width {
    max-width: unset;
    margin-top: 0px;
}

div.main-container.node-form {
    padding-top: 0;
}

body.path-catalogue div.main-container.container-fluid,
body.path-frontpage div.main-container.container-fluid {
    max-width: unset;
    padding-top: 0px;
}
#sidebar-left {
    width: 100%;
    /* height: calc(100% - 60px); */
    height: 100%;
    background-color: var(--white);
    border-right: 1px solid var(--medium-grey);
    position: fixed;
    /* top: 60px; */
    top: 0;
    left: -100%;
    overflow: auto;
    /* padding: 0 0 1.5em 0; */
    padding: 60px 0 1.5em 0;
    z-index: 1;
}
#sidebar-left.open {
    left: 0;
}

@media (min-width: 768px) {
    #sidebar-left {
        width: 35%;
        left: -35%;
    }
    #sidebar-left.open {
        left: 0px;
    }
    body.path-catalogue #main-content,
    body.path-frontpage #main-content,
    body.path-catalogue #page-header,
    body.path-frontpage #page-header {
        width: 100%;
        margin-left: 0;
    }
    body.path-catalogue footer,
    body.path-frontpage footer {
        margin-left: 0%;
    }

}

@media (min-width: 1024px) {
    #sidebar-left {
        width: 30%;
        left: -30%;
    }
    #sidebar-left.open {
        left: 0px;
    }
    body.path-catalogue #main-content,
    body.path-frontpage #main-content,
    body.path-catalogue #page-header,
    body.path-frontpage #page-header {
        width: 100%;
        margin-left: 0;
    }
    body.path-catalogue footer,
    body.path-frontpage footer {
        margin-left: 0%;
    }
}
@media (min-width: 1366px) {
    #sidebar-left {
        width: 20%;
        left: 0;
    }
    body.path-catalogue #main-content,
    body.path-frontpage #main-content,
    body.path-catalogue #page-header,
    body.path-frontpage #page-header {
        width: 80%;
        margin-left: 20%;
    }
    body.path-catalogue footer,
    body.path-frontpage footer {
        margin-left: 20%;
    }
}
/* @media (min-width: 1366px) {
    #sidebar-left {
        width: 20%;
        left: 0;
    }
    body.path-catalogue #main-content,
    body.path-frontpage #main-content,
    body.path-catalogue .col-md-12[role="heading"],
    body.path-frontpage .col-md-12[role="heading"] {
        width: 80%;
        margin-left: 20%;
    }
    body.path-catalogue footer,
    body.path-frontpage footer {
        margin-left: 20%;
    }
} */

@media (min-width: 2000px) {
    #sidebar-left {
        width: 350px;
        left: 0;
    }
    body.path-catalogue #main-content,
    body.path-frontpage #main-content,
    body.path-catalogue #page-header,
    body.path-frontpage #page-header {
        width: calc(100% - 350px);
        margin-left: 350px;
    }
    body.path-catalogue footer,
    body.path-frontpage footer {
        margin-left: 350px;
    }
}

/**
** Primary Sidebar (Sidebar left)
**/
/* .region-sidebar-first {
    margin-left: -15px;
    background-color: white;
    POSITION: fixed;
    height: 100%;
    overflow: auto;
} */

/**
 * Nodes
 */
.node.node--view-mode-full > div > .field {
    margin-bottom: 30px;
}
.node.node--view-mode-full > div > .field .field--label {
    font-size: 0.875em;
    text-transform: uppercase;
    color: var(--dark-grey);
    margin-bottom: 1em;
}
.field .field-horizontal .field--item {
    display: inline-block;
    margin-right: 5px;
}
.field-name-tags .field-horizontal .field--item > a {
    padding: 6px 13px;
    background-color: var(--primary-light);
    border-radius: 10px;
    font-weight: normal;
    display: inline-block;
}

/**
 * Sidebar Nav
 */
.region-sidebar-first > nav > ul > li > a {
    background-color: var(--medium-grey);
    margin-bottom: 5px;
}
.region-sidebar-first > nav > ul > li.active > a {
    background-color: var(--light-grey);
}

/**
 * Sidebar Second
 */
.region-sidebar-second {
    padding: 20px;
    background-color: var(--white);
    border-color: var(--dark-grey);
    border: 0;
    border-radius: 4px;
    box-shadow: unset;
}

/** 
 * Wells
 */
.well {
    padding: 20px;
    background-color: var(--white);
    border-color: var(--light-grey);
    border: 0;
    border-radius: 0;
    box-shadow: unset;
}

/**
 * Cards
 */
.card-two-col > .card-right {
    padding-top: 2em;
}
.user-picture img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}
h1.card-heading {
    margin: 0;
    font-weight: bold;
    font-size: 1.8em;
}
p.card-subtitle {
    margin-top: 5px;
    color: var(--dark-grey);
    font-size: 1.1em;
}


/**
 * Fieldsets / Panels
 */
.panel {
    margin-bottom: 2em;
} 
.panel-default {
    border-color: var(--medium-grey);
}
.panel-default > .panel-heading {
    color: var(--text-light);
    background-color: var(--white);
    border-color: var(--medium-grey);
}

/**
 * Forms and inputs
 */
.form-inner-wrapper {
    max-width: 1366px;
    margin: auto;
}
.form-top {
    background: var(--white);
    margin-bottom: 1em;
    padding: 1em;
    z-index: 999;
}
.form-top .field--name-field-form-help-top {
    float: left;
    margin-bottom: 0px;
}
.form-top .form-actions {
    float: right;
    margin-bottom: 0px;
}
.form-left {
    margin-bottom: 2em;;
}
.field--type-markup {
    font-size: 0.9em;
}
.help-block {
    line-height: 1.4em;
    font-size: 0.77em;
    margin: 5px 0 0;
}
.modal-open .modal {
    z-index: 1050;
}


 /**
  * Buttons
  */
.form-actions button {
    margin-right: 3px;
    border-width: 3px;
    font-weight: bold;
}
/* delete node button */
.form-actions > a.button {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 10px 0 0;
    border: 3px solid;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: var(--primary-medium);
    color: var(--white);
    border-color: var(--primary-medium);
}

a#edit-cancel:hover,
a#edit-cancel:focus {
    background-color: var(--black);
    border-color: var(--black);
    text-decoration: none;
    color: var(--white);
}
a#edit-delete:hover,
a#edit-delete:hover {
    color: var(--white);
    text-decoration: none;
    background: red;
    border-color: red;
}
form.contact-form button#edit-preview {
    display: none;
}

/**
** Above Footer
**/
#above-footer {
    text-align: right;
}

/**
 * User Dashboard
 */
.user--view-mode-full > .field {
    margin-bottom: 30px;
}



/**
 * Footer
 */

.footer {
    border-top: 1px solid var(--medium-grey);
    background-color: var(--primary-light);
    margin-top: 2em;
    padding: 4em 2em;
    text-align: center;
}

#block-h5pstudio-theme-footerbranding img {
    max-width: 300px;
}
.footer-about {
    margin: 2em 0;
    font-weight: bold;
    color: var(--primary);
    font-size: 0.9em;
}
#block-h5pstudio-theme-footer {
    margin-top: 1em;
}
#block-h5pstudio-theme-footer ul.menu > li {
    display: inline-block;
}
#block-h5pstudio-theme-footer ul.menu > li > a {
    padding: 0;
    margin-right: 1em;
    font-weight: bold;
}
#block-h5pstarter-footer ul.menu > li > a:hover,
#block-h5pstarter-footer ul.menu > li > a:focus {
    background-color: unset;
    color: var(--primary-medium);
}
#block-h5pstudio-theme-footerh5pinfo {
    margin-top: 1em;
}
#block-footerccinfo {
    font-size: 0.9em;
    line-height: 1em;
    text-align: center;
    margin: 3em 0;
}
#block-footerccinfo img {
    max-width: 100px;
}
@media (min-width: 768px) {

    #block-h5pstudio-theme-footerbranding {
        float: left;
        width: 50%;
        text-align: left;
    }
    #block-footerccinfo {
        float: right;
        width: 48%;
        text-align: right;
        margin: 0;
    }
    #block-h5pstudio-theme-footer {
        text-align: center;
        clear: both;
    }
    #block-h5pstudio-theme-footerh5pinfo {
        text-align: center;
    }
}
@media (min-width: 1024px) {

    #block-h5pstudio-theme-footerbranding {
        float: left;
        width: 50%;
        max-width: 400px;
        text-align: left;
    }
    #block-h5pstudio-theme-footer {
        width: 100%;
        text-align: right;
    }
    #block-h5pstudio-theme-footerh5pinfo {
        width: 100%;
        text-align: right;
    }
    #block-footerccinfo {
        float: right;
        width: 50%;
        max-width: 400px;
        text-align: right;
    }
}

/**
** User login, register, password reset, one-time-login pages
**/

form.user-login-form,
form.user-register-form,
form.user-pass,
form.user-pass-reset {
    padding: 1em;
    background-color: var(--white);
    margin: 1em auto;
    border-radius: 4px;
    border: 1px solid var(--primary-light);
}
form.user-login-form .form-actions,
form.user-register-form .form-actions,
form.user-pass .form-actions,
form.user-pass-reset .form-actions {
    margin-top: 2em;
}
form.user-login-form .form-actions button,
form.user-pass .form-actions button,
form.user-pass-reset .form-actions button {
    width: 100%;
}
section#block-userloginblockcontent,
section#block-userregisterblockcontent,
section#block-userpasswordresetblockcontent {
    text-align: center;
    font-size: 0.7em;
    line-height: 1em;
}

@media (min-width: 768px) {
    form.user-login-form,
    form.user-register-form,
    form.user-pass,
    form.user-pass-reset {
        max-width: 600px;
        padding: 2em;
        margin: 4em auto;
    }
}