/**
 * Tables
 */
 .table > thead > tr > th {
  border-bottom: 0;
  color: var(--primary-medium);
  padding-bottom: 15px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px;
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: unset;
}
.table-hover > tbody > tr:hover {
  background-color: var(--primary-light);
}
.table tbody td > a {
  text-decoration: unset;
  font-style: normal;
}
.table tbody td > a:hover,
.table tbody td > a:focus {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .table-responsive {
    border:unset;
  }
  table, caption, thead, th, tbody, tr, td {
    display: block;
  }
  table thead {
    position: absolute;
    top: -9999px;
  }
  table tbody tr {
    width: 48%;
    float: left;
    background: white !important;
    border: 1px solid var(--medium-grey);
    padding: 1em;
    margin: 1%;
  }
  .table tbody tr td {
    padding: 0;
    margin-bottom: 5px;
  }

  td.views-field-title-1 a {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  td.views-field-counter {
    display: none;
  }
  td.views-field-title-2:before {
    content: 'Content type: '
  }
  td.views-field-field-user-name:before {
    content: 'Authored by: '
  }
  td.views-field-field-subject:before {
    content: 'Subject: '
  }
  td.views-field-created:before {
    content: 'Created on: '
  }
  td.views-field-changed:before {
    content: 'Last updated: '
  }
  td.views-field-license:before {
    content: 'License: '
  }
  td.views-field-status:before {
    content: 'Published? '
  }
  td.views-field-field-work-in-progress:before {
    content: 'Work in Progress? '
  }
  td.views-field-totalcount:before {
    content: 'Views today|total: '
  }
  td.views-field-points:before {
    content: 'Points: '
  }
  td.views-field-max-points:before {
    content: 'Max Points: '
  }
  td.views-field-finished:before {
    content: 'Completed: '
  }

}

@media (max-width: 768px) {
  table tbody tr {
    width: 100%;
    float: unset;
    margin: 0 0 1em;
  }
}