/**
* Views and Views filters
*/

/**
** Views exposed filters block
**/
.views-exposed-form.block .form-item {
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid var(--medium-grey);
}
.views-exposed-form.block .form-item > label {
  display: block;
  color: black;
  margin-bottom: 5px;
  font-size: 0.8em;
}
.views-exposed-form.block .form-item > input,
.views-exposed-form.block .form-item > .input-group > input,
.views-exposed-form.block .form-item > select,
.views-exposed-form.block .form-item > .select-wrapper > select {
  border-radius: 0;
  border: 1px solid var(--medium-grey);
  width: 100%;
  box-shadow: unset;
}
.views-exposed-form.block .form-item > input:focus,
.views-exposed-form.block .form-item > input:active,
.views-exposed-form.block .form-item > .input-group > input:focus,
.views-exposed-form.block .form-item > .input-group > input:active,
.views-exposed-form.block .form-item > select:focus,
.views-exposed-form.block .form-item > select:active,
.views-exposed-form.block .form-item > .select-wrapper > select:focus,
.views-exposed-form.block .form-item > .select-wrapper > select:active {
  box-shadow: 0 3px 10px 2px rgba(0,0,0,0.1);
}
.views-exposed-form.block .form-item > .input-group,
.views-exposed-form.block .form-item > .select-wrapper {
  width: 100%;
}
.form-autocomplete .input-group-addon {
  background-color: var(--light-grey);
  border: 1px solid var(--medium-grey);
  border-left: 0;
}
.select-wrapper:after {
  color: var(--primary);
}

/** form actions **/
.views-exposed-form .form-actions {
  margin: 0 0 1em;
  padding: 1em;
  border: unset;
}
.views-exposed-form .form-actions > button {
  font-size: 1em;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  display: inline-block;
  width: auto;
}
.views-exposed-form .form-actions > button#edit-reset {
  color: var(--text-light);
  background-color: var(--secondary-light);
}

.toggle-filters {
  display: inline-block;
  /* position: static;
  top: 8px;
  left: 30%;
  z-index: 1; */
  border-radius: 0;
  background-color: var(--primary-light);
  border: 0;
  color:var(--primary);
  margin-bottom: 1em;
}
/* .toggle-filters.open .is-open {
  display: inline;
}
.toggle-filters:not(.open) .is-closed {
  display: inline;
}
.toggle-filters.open .is-closed,
.toggle-filters:not(.open) .is-open {
  display: none;
}
.toggle-filters.open {
  position: absolute;
  top: 8px;
  left: 30%;
  z-index: 1;
  border-radius: 0;
  background-color: var(--medium-grey);
  border: 0;
  color:var(--primary);
} */
.close-filters {
  position: absolute;
  top: 60px;
  right: 0;
  padding: 5px 10px;
  background-color: var(--primary-light);
  border: 0;
  color: var(--primary);
  border-radius: 0;
}

@media (min-width: 1365px) {
  .toggle-filters {
    display: none;
  }
  .close-filters {
    display: none;
  }
}


/* .view > .view-filters.form-group {
  padding: 20px;
  background-color: var(--lightgrey);
  margin: 0 -15px 30px;
}
.views-exposed-form > .form-inline {
  text-align: center;
  width: auto;
}
.views-exposed-form > .form-inline > .form-item {
  margin-right: 15px;
}
.views-exposed-form > .form-inline > .form-item > label {
  font-weight: normal;
  color: var(--text-primary);
  font-size: 0.875em;
  margin-right: 5px;
} */

.view.title-in-header > .view-header {
  margin: 0 0 1.5em;
  padding: 1em 1em 1.5em;
  border-bottom: 1px solid var(--medium-grey);
}
.view.title-in-header > .view-header a {
  background-color: var(--primary-light);
}
.view.fixed-width > .view-content {
  max-width: 1200px;
  margin: auto;
}
.view > .view-empty {
  text-align: center;
  padding: 1em 0;
  margin:1 em 0;
}
.views-row.fields-with-labels > .views-field {
  margin-bottom: 1.5em;
}
.views-row.fields-with-labels > .views-field > .views-label {
  display: block;
  font-size: 0.7em;
  text-transform: uppercase;
  color: var(--primary-medium);
  font-weight: bold;
}
.flexgrid-spacebetween .view-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flexgrid-spacebetween .view-content .views-row {
  width: 100%;
  margin-bottom: 20px;
  padding: 0.5em 1em;
  background-color: var(--primary-light);
}
span.term-count {
  padding: 0px 12px;
  font-size: 0.8em;
  background-color: var(--dark-grey);
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  font-weight: bold;
  float: right;
}
.view .feed-icons {
  margin-top: 50px;
}
.title-in-viewheader .view-header {
  margin: 0 0 20px 0;
  color: var(--primary-medium);
}

@media (min-width: 768px) {
  .flexgrid-spacebetween .view-content .views-row {
    width: 49%;
  }
}

@media (min-width: 1024px) {
  .flexgrid-spacebetween .view-content .views-row {
    width: 33%;
  }
}